@font-face {
    font-family: WinnerRegular;
    src: url(/res/Fonts/Winner/Winner-Regular.ttf);
}

@font-face {
    font-family: WinnerNarrowLight;
    src: url(/res/Fonts/Winner/Winner-NarrowLight.ttf);
}

@font-face {
    font-family: Pacifico;
    src: url(/res/Fonts/Pacifico.ttf);
}


html, body {
    margin: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
}

*  {
    box-sizing: border-box;
}

nav a{
    font-size: 20px;
}

.image1{
    height: 721px;
    width: 100%;

    padding-top: 100px;
    text-align: center;
    vertical-align: middle;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/res/truck.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
} 


#logo{
    text-align: center;
}

.ladybugBlue{
    color: #2a72d8;
}

.ladybugRed{
    color: #b74745;
}

.white{
    color: #FAFAFA;
}

#welcome{
    font-family: WinnerNarrowLight;
    margin-top: 0;
    font-size: 50px;
}

#welcomeHeading{
    font-family: WinnerNarrowLight;
    margin-top: 0;
    margin-bottom: 5rem;
    font-size: 75px;
}

.services{
    width: 90%;
    font-family: Calibri;
    font-size: 25px;
    text-align: center;
}

.listItems{
    text-align: center;
}

/* footer{
    width: 100%;
    height: 100px;
    background-color: #333232;
    color: white;
    font-family: Calibri; 
    font-size: 16px;
    Use below when centering text in a div
    display: flex;
    align-items: center;
    justify-content: center;
} */